.contact {
  background: #7531a5;
  padding: 0 20px;
  height: 150vh;
}
.show-titre2 h1 {
  font-family: "Bangers", system-ui;
  font-size: 5rem;
  font-weight: bold;
  padding-top: 210px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.contact-section {
  background: rgb(255, 255, 255);
  color: rgb(148, 12, 194);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 100%;
  padding: 25px;
  width: 40%; /* Largeur de chaque section */
  max-width: 500px;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.contact-section:hover {
  border: 1px solid bisque;
  background: rgb(34, 28, 36);
  color: bisque;
}

.resa-h2 h2 {
  padding-bottom: 30px;
  font-size: 2.7rem;
  font-weight: bold;
}
.mail,
.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.mail {
  margin-bottom: 30px;
}
.resa .phone span {
  font-size: 1.4rem;
  padding-bottom: 15px;
  font-weight: bold;
}
.mail a {
  font-size: 1.6rem;
  text-decoration: none;
  color: rgb(148, 12, 194);
  font-weight: bold;
}

.reseaux h2 {
  font-size: 2.7rem;
  font-weight: bold;
  margin-top: 100px;
  color: bisque;
  text-decoration: underline;
  text-align: center;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
  padding-bottom: 30px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.icons a {
  color: inherit;
  text-decoration: none;
}

.icons i:hover {
  transform: scale(1.4);
  color: bisque;
}
.icons i {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.7rem;
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .contact-section {
    padding-bottom: 0;
    width: 100%; /* Ajuste la largeur des sections pour les petits écrans */
  }
}
@media screen and (max-width: 760px) {
  .container {
    margin-top: 50px;
  }
  .contact {
    height: 130vh;
  }
  .contact-section {
    padding-bottom: 0;
    width: 100%; /* Ajuste la largeur des sections pour les petits écrans */
    max-width: none; /* Supprime la largeur maximale */
  }
  .show-titre2 h1 {
    font-size: 3.8rem;
  }
  .resa-h2 h2 {
    font-size: 2.2rem;
  }
  .mail span a {
    font-size: 1rem;
  }
  .resa .phone span {
    font-size: 1rem;
  }
  .reseaux h2 {
    font-size: 2.5rem;
    margin-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  .contact {
    height: 110vh;
  }
}
