/* Style principal pour la section de contact */
.contact {
  background: #7531a5; /* Couleur de fond de la section de contact */
  padding: 0 20px; /* Espacement intérieur horizontal */
  height: 150vh; /* Hauteur de la section (150% de la hauteur de la fenêtre) */
}

/* Style pour le titre dans la section de contact */
.show-titre2 h1 {
  font-family: Matemasie, sans-serif; /* Police du titre */
  font-size: 5rem; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  padding-top: 210px; /* Espacement au-dessus du titre */
  text-align: center; /* Alignement du texte au centre */
  color: rgba(255 255 255 / 100%); /* Couleur du texte */
}

/* Style pour le conteneur de la section de contact */
.container {
  display: flex; /* Flexbox pour aligner les éléments */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  margin-top: 100px; /* Marge supérieure */
}

/* Style pour les sections de contact individuelles */
.contact-section {
  background: rgba(255 255 255 / 100%); /* Couleur de fond */
  color: rgba(148 12 194 / 100%); /* Couleur du texte */
  border: 1px solid rgba(255 255 255 / 100%); /* Bordure blanche */
  border-radius: 5px; /* Bordure arrondie */
  width: 100%; /* Largeur de la section */
  padding: 25px; /* Espacement intérieur */
  max-width: 500px; /* Largeur maximale */
  text-align: center; /* Alignement du texte */
  box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur totale */
  transition: all 0.3s ease-in-out; /* Effet de transition pour les changements */
}

/* Style pour la section de contact au survol */
.contact-section:hover {
  border: 1px solid bisque; /* Bordure au survol */
  background: rgb(34, 28, 36); /* Couleur de fond au survol */
  color: bisque; /* Couleur du texte au survol */
}

/* Style pour les sous-titres dans les sections de contact */
.resa-h2 h2 {
  padding-bottom: 30px; /* Espacement inférieur */
  font-size: 2.7rem; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
}

/* Style pour les éléments de contact (email et téléphone) */
.mail,
.phone {
  display: flex; /* Flexbox pour aligner les éléments */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  /* Espace entre les éléments */
  margin-bottom: 15px; /* Marge inférieure */
}
.phone {
  gap: 15px;
}
.mail {
  margin-bottom: 30px; /* Marge inférieure spécifique pour les emails */
}

/* Style pour le texte du téléphone */
.resa .phone span {
  font-size: 1.4rem; /* Taille de la police */
  padding-bottom: 15px; /* Espacement inférieur */
  font-weight: bold; /* Poids de la police */
}

/* Style pour les liens d'email et phone */
.mail a,
.phone a {
  display: inline-block; /* Assure que les liens soient des blocs */
  padding: 10px 20px; /* Ajoute du padding pour augmenter la zone cliquable */
  font-size: 1.6rem; /* Taille de la police */
  text-decoration: none; /* Pas de soulignement */
  color: rgba(148 12 194 / 100%); /* Couleur du texte */
  font-weight: bold; /* Poids de la police */
}

/* Style pour les titres de réseaux sociaux */
.reseaux h2 {
  font-size: 2.7rem; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  margin-top: 100px; /* Marge supérieure */
  color: bisque; /* Couleur du texte */
  text-decoration: underline; /* Soulignement */
  text-align: center; /* Alignement du texte au centre */
}

/* Ajout d'espacement autour des icônes de réseaux sociaux */
.icons {
  gap: 20px; /* Espace entre les icônes */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modification des icônes pour augmenter la zone cliquable */
.icons a {
  padding-top: 50px;
  display: inline-flex; /* Utilise flex pour centrer le contenu */
  justify-content: center; /* Centre le contenu */
  align-items: center; /* Centre verticalement */
  width: 60px; /* Largeur minimale */
  height: 60px; /* Hauteur minimale */
  border-radius: 30px; /* Arrondi des coins pour un look plus agréable */
  transition: background 0.3s; /* Transition pour le survol */
}

/* Style pour les icônes au survol */
.icons i:hover {
  transform: scale(1.4); /* Zoom au survol */
  color: bisque; /* Couleur au survol */
}

/* Style pour les icônes */
.icons i {
  color: #fff; /* Couleur de l'icône */
  font-weight: bold; /* Poids de la police */
  font-size: 2.7rem; /* Taille de la police */
  transition: transform 0.3s ease-in-out; /* Effet de transition pour le zoom */
}

/* Style pour les images de la section de contact */
.pic2 {
  width: 100%; /* Largeur de l'image */
  overflow: hidden; /* Masquage du débordement */
  position: relative; /* Position relative pour l'image */
  height: 400px; /* Hauteur de l'image */
  margin-top: 100px; /* Marge supérieure */
}

/* Style pour les images responsives */
.responsive-img2 {
  width: 100%; /* Largeur de l'image */
  height: 100%; /* Hauteur de l'image */
  object-fit: cover; /* Ajustement de l'image */
  object-position: center; /* Position de l'image */
  cursor: pointer; /* Curseur au survol */
}

/* Styles responsive pour les écrans plus petits */
@media screen and (max-width: 1200px) {
  .contact-section {
    padding-bottom: 0; /* Suppression du padding inférieur */
    width: 100%; /* Largeur à 100% */
  }
}

@media screen and (max-width: 760px) {
  .container {
    margin-top: 50px; /* Marge supérieure réduite */
  }

  .contact {
    height: 130vh; /* Hauteur réduite */
  }

  .contact-section {
    padding-bottom: 0; /* Suppression du padding inférieur */
    width: 100%; /* Largeur à 100% */
    max-width: none; /* Pas de largeur maximale */
  }

  .show-titre2 h1 {
    font-size: 3.4rem; /* Taille de la police réduite */
  }

  .resa-h2 h2 {
    font-size: 2.2rem; /* Taille de la police réduite */
  }

  .mail span a {
    font-size: 1rem; /* Taille du texte réduite */
  }

  .resa .phone span {
    font-size: 1rem; /* Taille du texte réduite */
  }

  .reseaux h2 {
    font-size: 2.5rem; /* Taille de la police réduite */
    margin-top: 50px; /* Marge supérieure réduite */
  }

  .pic2 {
    height: 200px; /* Hauteur réduite */
    margin-top: -20px; /* Marge supérieure réduite */
  }
}

@media screen and (max-width: 500px) {
  .contact {
    height: 110vh; /* Hauteur encore réduite */
  }
}
