/* Elements appear on scroll */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 1.2s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Style global pour le corps de la page */
body {
  margin: 0; /* Suppression des marges par défaut */
  font-family: Quicksand, sans-serif; /* Police principale pour le texte */
}

/* Style principal pour la section principale */
.main {
  background: linear-gradient(rgba(117, 49, 165, 0.6), rgba(72, 3, 87, 0.6)),
    url("../Pic/back.webp") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex; /* Utilisation de flexbox pour l'alignement */
  flex-direction: column; /* Disposition des éléments en colonne */
  align-items: center; /* Alignement des éléments au centre */
  padding: 20px; /* Espacement intérieur */
  padding-bottom: 100px; /* Espacement intérieur spécifique en bas */
}

/* Style pour le titre de la section 'cie' */
.cie h1 {
  font-family: Matemasie, sans-serif; /* Police du titre */
  font-size: 5rem; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  padding-top: 210px; /* Espacement supérieur */
  text-align: center; /* Alignement du texte au centre */
  color: rgba(255 255 255 / 100%); /* Couleur du texte */
  margin-bottom: 20px; /* Marge inférieure */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les sous-titres dans les sections 'historique' et 'bio' */
.historique h2,
.bio h2 {
  font-size: 3rem; /* Taille de la police */
  text-align: center; /* Alignement du texte au centre */
  margin-top: 60px; /* Marge supérieure */
  margin-bottom: 40px; /* Marge inférieure */
  font-weight: bold; /* Poids de la police */
  color: bisque; /* Couleur du texte */
  border: 1px solid bisque; /* Bordure de couleur bisque */
  border-radius: 5px; /* Bordure arrondie */
  padding: 10px; /* Espacement intérieur */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour le texte dans la section 'cie' */
.cie-text {
  display: flex; /* Utilisation de flexbox */
  flex-direction: column; /* Disposition en colonne */
  align-items: center; /* Alignement au centre */
  border: 2px dashed bisque;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
}

/* Style pour les paragraphes dans la section 'cie-text' */
.cie-text p {
  font-size: 1.4rem; /* Taille de la police */
  max-width: 800px; /* Largeur maximale */
  line-height: 26px; /* Hauteur de ligne */
  font-weight: bold; /* Poids de la police */
  color: azure; /* Couleur du texte */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les éléments 'span' dans la section 'cie-text' */
.cie-text span {
  color: bisque; /* Couleur du texte */
}

/* Style pour la section 'bio' */
.bio {
  display: flex; /* Utilisation de flexbox */
  flex-direction: column; /* Disposition en colonne */
  align-items: center; /* Alignement au centre */
  margin-top: 50px; /* Marge supérieure */
}

/* Style pour la section 'bio3' */
.bio3 {
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  margin-bottom: -40px;
}

/* Style pour les titres dans la section 'bio' */
.bio h3 {
  font-size: 1.8rem; /* Taille de la police */
  color: white; /* Couleur du texte */
  margin-top: 20px; /* Marge supérieure */
  margin-bottom: 0px;
  border: 1px solid white; /* Bordure blanche */
  padding: 10px; /* Espacement intérieur */
  border-radius: 5px; /* Bordure arrondie */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les titres dans la section 'bio3' */
.bio3 h3 {
  font-size: 1.8rem; /* Taille de la police */
  color: white; /* Couleur du texte */
  margin-top: 100px; /* Marge supérieure */
  margin-bottom: 50px; /* Marge inférieure */
  text-align: center; /* Alignement du texte au centre */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les titres dans la section 'bio4' */
.bio4 h3 {
  font-size: 1.8rem; /* Taille de la police */
  color: white; /* Couleur du texte */
  text-align: center; /* Alignement du texte au centre */
  margin-bottom: -30px; /* Marge inférieure négative */
  margin-top: 0px; /* Marge supérieure */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour la section 'bio4' */
.bio4 {
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  margin-top: 120px; /* Marge supérieure */
}

/* Style pour les titres dans la section 'bio5' */
.bio5 h3 {
  font-size: 1.8rem; /* Taille de la police */
  color: white; /* Couleur du texte */
  text-align: center; /* Alignement du texte au centre */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour la section 'bio5' */
.bio5 {
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  margin-top: 60px; /* Marge supérieure */
}

.titre-personne {
  color: bisque;
  font-size: 1.6rem;
  border: 1px dashed bisque;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 0px 0 30px 0; /* marge plus naturelle */
  text-align: center;
  width: 730px;
}

.titre-personne2 {
  color: bisque;
  font-size: 1.6rem;
  border: 1px dashed bisque;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 0px 0 30px 0; /* marge plus naturelle */
  text-align: center;
  width: 500px;
}

.titre-personne3 {
  color: bisque;
  font-size: 1.6rem;
  border: 1px dashed bisque;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 0px 0 30px 0; /* marge plus naturelle */
  text-align: center;
  width: 720px;
}

.all-titre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style pour la section 'artistes' */
.artistes {
  margin-top: 40px; /* Marge supérieure */
}

/* Style pour la disposition des personnes en sens inverse */
.personne-reverse {
  display: flex; /* Utilisation de flexbox */
  flex-direction: reverse; /* Disposition inverse */
  align-items: center; /* Centre les éléments verticalement */
  justify-content: center; /* Centre les éléments horizontalement */
  gap: 40px; /* Espace entre les éléments */
  margin-top: 60px; /* Marge supérieure */
}

/* Style pour la disposition normale des personnes */
.personne {
  display: flex; /* Utilisation de flexbox */
  flex-direction: row; /* Disposition en ligne */
  align-items: center; /* Centre les éléments verticalement */
  justify-content: center; /* Centre les éléments horizontalement */
  gap: 40px; /* Espace entre les éléments */
  margin-top: 80px; /* Marge supérieure */
}

.allpers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

/* Style pour les images dans la section 'pic1' */
.pic1 img {
  width: 400px; /* Largeur de l'image */
  height: 350px; /* Hauteur de l'image */
  object-fit: cover; /* Ajustement de l'image */
  object-position: top; /* Position de l'image */
  border-radius: 10px; /* Bordure arrondie */
  border: 2px solid bisque; /* Bordure blanche */
  transition: all 0.3s ease-in-out; /* Effet de transition */
  cursor: pointer; /* Curseur au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 80px;
}

.pic200 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pic200 img {
  width: 400px; /* Largeur de l'image */
  height: 350px; /* Hauteur de l'image */
  object-fit: cover; /* Ajustement de l'image */
  object-position: top; /* Position de l'image */
  border-radius: 10px; /* Bordure arrondie */
  border: 2px solid bisque; /* Bordure blanche */
  transition: all 0.3s ease-in-out; /* Effet de transition */
  cursor: pointer; /* Curseur au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 80px;
}

.pic100 img {
  width: 400px; /* Largeur de l'image */
  height: 100%; /* Hauteur de l'image */
  object-fit: cover; /* Ajustement de l'image */
  object-position: center; /* Position de l'image */
  border-radius: 10px; /* Bordure arrondie */
  border: 2px solid bisque; /* Bordure blanche */
  transition: all 0.3s ease-in-out; /* Effet de transition */
  cursor: pointer; /* Curseur au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pic150 img {
  width: 400px; /* Largeur de l'image */
  height: 350px; /* Hauteur de l'image */
  object-fit: cover; /* Ajustement de l'image */
  object-position: center; /* Position de l'image */
  border-radius: 10px; /* Bordure arrondie */
  border: 2px solid bisque; /* Bordure blanche */
  transition: all 0.3s ease-in-out; /* Effet de transition */
  cursor: pointer; /* Curseur au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pic300 img {
  width: 400px; /* Largeur de l'image */
  height: 350px; /* Hauteur de l'image */
  object-fit: cover; /* Ajustement de l'image */
  object-position: top; /* Position de l'image */
  border-radius: 10px; /* Bordure arrondie */
  border: 2px solid bisque; /* Bordure blanche */
  transition: all 0.3s ease-in-out; /* Effet de transition */
  cursor: pointer; /* Curseur au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Style pour les images au survol dans la section 'pic1' */
.pic1 img:hover {
  transform: scale(1.03); /* Zoom au survol */
}

.pic100 img:hover {
  transform: scale(1.03); /* Zoom au survol */
}

.pic150 img:hover {
  transform: scale(1.03); /* Zoom au survol */
}

.pic200 img:hover {
  transform: scale(1.03); /* Zoom au survol */
}
.pic300 img:hover {
  transform: scale(1.03); /* Zoom au survol */
}

/* Style pour la section 'text1' */
.text1 {
  display: flex; /* Utilisation de flexbox */
  flex-direction: column; /* Disposition en colonne */
  align-items: center; /* Alignement au centre */
  justify-content: center; /* Alignement au centre */
  border: 2px solid bisque; /* Bordure blanche */
  background: rgba(237 235 235 / 100%); /* Couleur de fond */
  border-radius: 10px; /* Bordure arrondie */
  padding: 10px 20px; /* Espacement intérieur */
  width: 100%; /* Largeur totale */
  max-width: 800px; /* Largeur maximale */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Style pour les paragraphes dans la section 'text1' */
.text1 p {
  font-size: 1.1rem; /* Taille de la police */
  padding: 20px 0; /* Espacement intérieur vertical */
  line-height: 1.4; /* Hauteur de ligne */
  word-spacing: normal; /* Espacement des mots */
  max-width: 100%; /* Largeur maximale */
  text-align: left; /* Alignement du texte */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les éléments 'span' dans la section 'text1' */
.text1 span {
  color: rgba(148 12 194 / 100%); /* Couleur du texte */
  font-weight: bold; /* Poids de la police */
}

/* Style pour la ligne de séparation */
.diviser {
  width: 30%; /* Largeur de la ligne */
  height: 2px; /* Hauteur de la ligne */
  margin-top: 80px; /* Marge supérieure */
  margin-bottom: 40px; /* Marge inférieure */
  background-color: white; /* Couleur de fond */
}

/* Style pour le conteneur de la ligne */
.line {
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
}

/* Style pour les images dans la section 'pic10' */
.pic10 {
  width: 100%; /* Largeur totale */
  overflow: hidden; /* Masquage du débordement */
  position: relative; /* Position relative */
  height: 400px; /* Hauteur de l'image */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Style pour les images responsives dans la section 'pic10' */
.responsive-img10 {
  width: 100%; /* Largeur totale */
  height: 100%; /* Hauteur totale */
  object-fit: cover; /* Ajustement de l'image */
  object-position: center; /* Position de l'image */
  cursor: pointer; /* Curseur au survol */
}

.image-standard img {
  width: 400px; /* largeur identique */
  height: 300px; /* hauteur fixe uniforme */
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  border: 2px solid bisque;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 80px;
}

.image-standard img:hover {
  transform: scale(1.03);
}

@media (max-width: 980px) {
  .cie h1 {
    padding-top: 230px;
  }
}

/* Styles responsive pour les écrans jusqu'à 900px */
@media (max-width: 900px) {
  .personne {
    flex-direction: column; /* Disposition en colonne pour les petits écrans */
    /* Espace entre les éléments */
    align-items: center; /* Alignement au centre */
    margin-top: 10px; /* Marge supérieure */
  }

  .personne-reverse {
    display: flex; /* Utilisation de flexbox */
    flex-direction: column-reverse; /* Disposition inverse en colonne */
    align-items: center; /* Alignement au centre */
    justify-content: center; /* Alignement au centre */
    /* Espace entre les éléments */
    margin-top: 10px; /* Marge supérieure */
  }

  .bio5 h3 {
    margin-bottom: -30px; /* Marge inférieure négative */
  }
}

/* Styles responsive pour les écrans jusqu'à 768px */
@media (max-width: 768px) {
  .main {
    padding-bottom: 80px; /* Réduction de l'espacement intérieur en bas */
  }

  .cie h1 {
    font-size: 3.4rem; /* Réduction de la taille de la police */
    margin-top: -30px; /* Marge supérieure négative */
  }

  .historique h2 {
    margin-top: 50px; /* Réduction de la marge supérieure */
    font-size: 2.2rem; /* Réduction de la taille de la police */
  }

  .cie-text {
    margin-top: -10px;
  }

  .cie-text p {
    font-size: 1rem; /* Réduction de la taille de la police */
    padding: 10px; /* Réduction de l'espacement intérieur */
    margin-top: 0; /* Suppression de la marge supérieure */
  }

  .bio h2 {
    margin-top: 10px; /* Suppression de la marge supérieure */
    /* Réduction de la marge inférieure */
  }

  .bio h3 {
    margin-bottom: 0px;
  }

  .bio3 h3 {
    margin-top: 70px;
    margin-bottom: 60px;
  }

  .bio4 h3 {
    font-size: 1.5rem; /* Réduction de la taille de la police */
    margin-bottom: 40px;
  }

  .bio5 h3 {
    margin-bottom: 40px;
  }

  .all-titre h4 {
    margin-top: -20px;
  }

  .pic1,
  .pic100,
  .pic2OO,
  .pic150,
  .pic300 {
    display: flex; /* Utilisation de flexbox */
    flex-direction: column; /* Disposition en colonne */
    align-items: center; /* Alignement au centre */
    margin-top: 10px;
  }

  .pic200 {
    margin-top: 10px;
  }

  .pic100 img,
  .pic150 img,
  .pic200 img,
  .pic300 img {
    width: 100%;
    height: 400px;
    margin-top: -20px;
  }

  .pic1 img,
  .pic300 img {
    width: 350px;
    height: 400px;
    margin-top: -20px;
  }

  .text1 {
    max-width: 100%; /* Largeur maximale */
  }

  .all-titre {
    margin-top: 40px;
  }

  .titre-personne,
  .titre-personne2,
  .titre-personne3 {
    width: 90%;
    font-size: 1.2rem;
    margin: 20px;
  }

  .hervy {
    margin-top: 60px;
  }

  .fumy {
    margin-top: 60px;
  }

  .text1 p {
    font-size: 0.9rem; /* Réduction de la taille de la police */
    padding: 0px 0; /* Espacement intérieur réduit */
  }

  .diviser {
    width: 50%;
  }
}
