/* Elements appear on scroll */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 1.2s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Style global pour le corps de la page */
body {
  margin: 0; /* Suppression des marges par défaut */
  font-family: Quicksand, sans-serif; /* Police principale */
}

/* Style principal pour la section 'show' */
.show {
  background: linear-gradient(rgba(117, 49, 165, 0.6), rgba(72, 3, 87, 0.6)),
    url("../Pic/backform.webp") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px; /* Espacement horizontal */
  padding-bottom: 20px; /* Espacement inférieur spécifique */
}

/* Style pour le titre de la section 'show-titre' */
.show-titre h1 {
  font-family: Matemasie, sans-serif; /* Police du titre */
  font-size: 5rem; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  padding-top: 230px; /* Espacement supérieur */
  text-align: center; /* Alignement du texte au centre */
  color: rgba(255 255 255 / 100%); /* Couleur du texte */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les sous-titres dans les sections 'showplus' et 'showplus1' */
.showplus h2,
.showplus1 h2 {
  font-size: 3rem; /* Taille de la police */
  text-align: center; /* Alignement du texte au centre */
  color: bisque; /* Couleur du texte */
  margin-top: 80px; /* Marge supérieure */
  border: 1px solid bisque; /* Bordure de couleur bisque */
  padding: 10px; /* Espacement intérieur */
  border-radius: 5px; /* Bordure arrondie */
  font-weight: bold; /* Poids de la police */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les sections 'showplus' et 'showplus1' */
.showplus,
.showplus1 {
  display: flex; /* Utilisation de flexbox */
  flex-direction: column; /* Disposition en colonne */
  align-items: center; /* Alignement au centre */
  margin-bottom: 50px; /* Marge inférieure */
}

/* Style pour les paragraphes dans les sections 'showplus' et 'showplus1' */
.showplus p,
.showplus1 p {
  font-size: 1.1rem; /* Taille de la police */
  text-align: left; /* Alignement du texte */
  max-width: 800px; /* Largeur maximale */
  margin-top: 50px; /* Marge supérieure */
  line-height: 24px; /* Hauteur de ligne */
  margin-bottom: 40px; /* Marge inférieure */
  background: rgba(237 235 235 / 100%); /* Couleur de fond */
  border-radius: 10px; /* Bordure arrondie */
  padding: 20px; /* Espacement intérieur */
  border: 2px solid bisque;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les éléments 'span' dans les sections 'showplus' et 'showplus1' */
.showplus span,
.showplus1 span {
  color: rgb(250, 164, 59); /* Couleur du texte */
  font-weight: bold; /* Poids de la police */
}

/* Style pour les titres 'h3' dans les sections 'showplus' et 'showplus1' */
.showplus h3,
.showplus1 h3 {
  font-size: 1.5rem; /* Taille de la police */
  color: white; /* Couleur du texte */
  margin-top: 40px; /* Marge supérieure */
  margin-bottom: 20px; /* Marge inférieure */
  border: 1px solid white; /* Bordure blanche */
  padding: 10px; /* Espacement intérieur */
  border-radius: 5px; /* Bordure arrondie */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les titres 'h4' dans les sections 'showplus' et 'showplus1' */
.showplus h4,
.showplus1 h4 {
  color: bisque; /* Couleur du texte */
  font-size: 1.4rem; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  margin-top: 20px; /* Marge supérieure */
  transition: all 0.3s ease-in-out; /* Effet de transition */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les liens dans les sections 'showplus' et 'showplus1' */
.showplus a,
.showplus1 a {
  color: bisque; /* Couleur du texte */
}

/* Effet au survol pour les titres 'h4' dans les sections 'showplus' et 'showplus1' */
.showplus h4:hover,
.showplus1 h4:hover {
  transform: scale(1.03); /* Zoom au survol */
}

/* Style pour la section 'gall' */
.gall {
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  margin-bottom: 20px; /* Marge inférieure */
}

/* Style pour les titres dans la section 'gall' */
.gall h2 {
  text-align: center; /* Alignement du texte au centre */
  font-size: 3rem; /* Taille de la police */
  color: white; /* Couleur du texte */
  margin-top: 30px; /* Marge supérieure */
  border: 1px solid bisque; /* Bordure de couleur bisque */
  padding: 10px; /* Espacement intérieur */
  border-radius: 5px; /* Bordure arrondie */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Styles pour les ancres de défilement */
#bastien,
#opera,
#roxane,
#herve,
#thomas,
#melusine,
#galtier,
#fumi,
#yuku,
#nathan {
  scroll-margin-top: 150px; /* Espacement au-dessus des éléments lors du défilement */
}

/* Ajustements spécifiques pour certains éléments */
#roxane {
  scroll-margin-top: 320px;
}

#herve {
  scroll-margin-top: 230px;
}

#fumi {
  scroll-margin-top: 260px;
}

#thomas {
  scroll-margin-top: 300px;
}

#galtier {
  scroll-margin-top: 300px;
}

#yuku {
  scroll-margin-top: 280px;
}

#melusine {
  scroll-margin-top: 280px;
}

#nathan {
  scroll-margin-top: 280px;
}

/* Style pour les images dans la section 'pic20' */
.pic20 {
  width: 100%; /* Largeur totale */
  overflow: hidden; /* Masquage du débordement */
  position: relative; /* Position relative */
  height: 400px; /* Hauteur de l'image */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Style pour les images responsives dans la section 'pic20' */
.responsive-img20 {
  width: 100%; /* Largeur totale */
  height: 100%; /* Hauteur totale */
  object-fit: cover; /* Ajustement de l'image */
  object-position: center; /* Position de l'image */
  cursor: pointer; /* Curseur au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photos p {
  color: white;
  margin-top: -10px;
}

/* Style pour la section "pic-opera" */
.pic-opera {
  display: flex;
  align-items: center;
  gap: 20px; /* Espace entre les images */
  margin: 20px 0; /* Marges autour */
}

.pic-opera img {
  width: 400px; /* Largeur des images */
  height: 400px; /* Hauteur des images */
  border-radius: 5px; /* Bordure arrondie */
  border: 1px solid bisque; /* Bordure des images */
  object-fit: cover; /* Mode d'ajustement des images */
  cursor: pointer; /* Curseur au survol */
  transition: all 0.3s ease-in-out; /* Transition au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pic-opera img:hover {
  transform: scale(1.02); /* Effet de zoom au survol */
}

/* Style pour la section 'dates' */
.dates {
  display: flex; /* Utilisation de flexbox */
  flex-direction: column; /* Disposition en colonne */
  align-items: center; /* Alignement au centre */
  margin-bottom: 80px; /* Marge inférieure */
  margin-top: 50px;
}

/* Style pour les titres 'h3' dans la section 'dates' */
.dates h3 {
  color: white; /* Couleur du texte */
  font-size: 1.4rem; /* Taille de la police */
  border: 1px solid white; /* Bordure blanche */
  padding: 15px; /* Espacement intérieur */
  border-radius: 5px; /* Bordure arrondie */
  margin: 30px 0; /* Marges supérieure et inférieure */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les images dans la section 'dates' */
.dates img {
  width: 40%; /* Largeur de l'image */
  border-radius: 10px; /* Bordure arrondie */
  border: 2px solid bisque; /* Bordure jaune */
  transition: all 0.3s ease-in-out; /* Effet de transition */
  cursor: pointer; /* Curseur au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Effet au survol pour les images dans la section 'dates' */
.dates img:hover {
  transform: scale(1.03); /* Zoom au survol */
}

/* Styles responsive pour les écrans jusqu'à 1200px */
@media (max-width: 1200px) {
  .dates h3 {
    font-size: 1.2rem; /* Réduction de la taille de la police */
    padding: 10px; /* Réduction de l'espacement intérieur */
    margin: 20px 0; /* Marges ajustées */
  }
}

@media screen and (max-width: 980px) {
  .show-titre h1 {
    padding-top: 250px;
  }
}

/* Styles responsive pour les écrans jusqu'à 768px */
@media (max-width: 768px) {
  .show-titre h1 {
    font-size: 3.4rem; /* Réduction de la taille de la police */
    margin-bottom: 30px; /* Marge inférieure */
    padding-top: 210px; /* Réduction de l'espacement supérieur */
  }

  .showplus h2,
  .showplus1 h2 {
    font-size: 2rem; /* Réduction de la taille de la police */
    margin-top: 30px; /* Marge supérieure */
  }

  .showplus h3,
  .showplus1 h3 {
    margin-top: 20px; /* Marge supérieure */
  }

  .showplus p,
  .showplus1 p {
    font-size: 0.9rem; /* Réduction de la taille de la police */
    margin-top: 30px; /* Marge supérieure */
  }

  .showplus1 {
    margin-top: -20px;
  }

  .gall h2 {
    margin-top: 20px; /* Marge supérieure */
    font-size: 2.3rem; /* Réduction de la taille de la police */
  }

  .pic-opera {
    flex-direction: column;
    margin-top: 0; /* Suppression de la marge supérieure */
    margin-bottom: 0; /* Suppression de la marge inférieure */
  }

  .pic-opera img {
    width: 100%; /* Réduction de la largeur de l'image */
    height: 100%;
  }

  .dates h3 {
    font-size: 1rem; /* Réduction de la taille de la police */
    padding: 10px; /* Réduction de l'espacement intérieur */
    margin: 15px 0; /* Marges ajustées */
  }

  .dates img {
    width: 100%; /* Réduction de la largeur de l'image */
    height: 100%;
  }

  .photos p {
    margin-top: -20px;
  }
}
