body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
.show {
  background: #7531a5;
  padding: 0 20px;
  padding-bottom: 40px;
}
.show-titre h1 {
  font-family: "Bangers", system-ui;
  font-size: 5rem;
  font-weight: bold;
  padding-top: 230px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.showplus h2 {
  font-size: 3rem;
  text-align: center;
  color: bisque;
  margin-top: 80px;
  border: 1px solid bisque;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.showplus1 h2 {
  font-size: 3rem;
  text-align: center;
  color: bisque;
  margin-top: 80px;
  border: 1px solid bisque;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.showplus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.showplus1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.showplus p {
  font-size: 1.1rem;
  text-align: justify;
  max-width: 800px;
  margin-top: 50px;
  line-height: 24px;
  margin-bottom: 40px;
  background: rgb(237, 235, 235);
  border-radius: 10px;
  padding: 20px;
}
.showplus1 p {
  font-size: 1.1rem;
  text-align: justify;
  max-width: 800px;
  margin-top: 50px;
  line-height: 24px;
  margin-bottom: 40px;
  background: rgb(237, 235, 235);
  border-radius: 10px;
  padding: 20px;
}
.showplus span {
  color: rgb(250, 164, 59);
  font-weight: bold;
}
.showplus1 span {
  color: rgb(250, 164, 59);
  font-weight: bold;
}
.showplus h3 {
  font-size: 1.5rem;
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}
.showplus1 h3 {
  font-size: 1.5rem;
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}
.showplus h4 {
  color: bisque;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.showplus1 h4 {
  color: bisque;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.showplus a {
  color: bisque;
}
.showplus1 a {
  color: bisque;
}
.showplus h4:hover {
  transform: scale(1.03);
}
.showplus1 h4:hover {
  transform: scale(1.03);
}
.gall {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.gall h2 {
  text-align: center;
  font-size: 3rem;
  text-align: center;
  color: white;
  margin-top: 30px;
  border: 1px solid bisque;
  padding: 10px;
  border-radius: 5px;
}
#bastien {
  scroll-margin-top: 100px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
}
#opera {
  scroll-margin-top: 100px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
}
#roxane {
  scroll-margin-top: 130px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
}
#herve {
  scroll-margin-top: 160px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
}
#thomas {
  scroll-margin-top: 160px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
}
#melysine {
  scroll-margin-top: 160px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
}
#galtier {
  scroll-margin-top: 160px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
}
#fumi {
  scroll-margin-top: 160px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
}
#nathan {
  scroll-margin-top: 160px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
}

@media (max-width: 768px) {
  .show-titre h1 {
    font-size: 3.8rem;
    margin-bottom: 30px;
    padding-top: 200px;
  }

  .showplus h2 {
    font-size: 2rem;
    margin-top: 30px;
  }
  .showplus1 h2 {
    font-size: 2rem;
    margin-top: 40px;
  }
  .showplus h3 {
    margin-top: 20px;
  }
  .showplus1 h3 {
    margin-top: 20px;
  }
  .showplus p {
    font-size: 0.9rem;
    margin-top: 30px;
  }
  .showplus1 p {
    font-size: 0.9rem;
    margin-top: 30px;
  }
  .gall h2 {
    margin-top: 20px;
    font-size: 2.3rem;
  }
  .pic-opera {
    margin-top: 0;
    margin-bottom: 0Ò;
  }
  .gall h2 {
    margin-top: 0;
  }
  #roxane {
    scroll-margin-top: 160px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
  }
  #bastien {
    scroll-margin-top: 120px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
  }
  #opera {
    scroll-margin-top: 120px; /* Ajustez cette valeur selon la hauteur de votre barre de navigation */
  }
}
