.end {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 80px;
  padding: 10px 20px;
  background: rgba(126 10 165 / 100%);
  color: white;
}

.end p {
  font-size: 1.2rem;
}

@media screen and (max-width: 760px) {
  .end {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .end p {
    font-size: 0.9rem;
  }
}
