/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Matemasie&family=Quicksand:wght@300..700&display=swap");

/* Réinitialisation et styles globaux */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  margin: 0;
  font-family: Caveat, sans-serif; /* Choisir une police par défaut */
}

/* Listes */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Liens */
a {
  text-decoration: none;
  color: inherit; /* Assure que les liens héritent de la couleur du texte parent */
}
